.root {
  height: 100%;
}

.listHeader {
  height: 45px;
  background-color: #f6f5f6;
  padding-left: 10px;
  :global {
    .icon-back {
      color: #999;
    }
  }
}

.mySearchBar {
  position: relative;
  top: 0;
  padding-left: 0;
  :global {
    .am-flexbox {
      height: 30px;
    }

    .icon-map {
      color: #00ae66;
    }
  }
}

:global(.ReactVirtualized__List) {
  padding: 0 10px 50px;
}

.loading {
  height: 110px;
  background-color: #f6f5f6;
}

.houseList {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85px;
  background-color: white;
}
