.root {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 100%;
  padding: 0 10px;

  :global {
    .icon-map {
      font-size: 25px;
      color: #fff;
    }
  }
}
.searchLeft {
  flex: 1;
  height: 34px;
  padding: 5px 5px 5px 8px;
  margin: 0 10px;
  border-radius: 3px;
  background-color: #fff;
}

.location {
  span {
    font-size: 14px;
  }

  :global {
    .icon-arrow {
      margin-left: 2px;
      font-size: 12px;
      color: #7f7f80;
    }
  }
}

.searchForm {
  margin-left: 12px;
  border-left: 1px solid #e5e5e5;

  :global {
    .icon-search {
      vertical-align: middle;
      padding: 0 2px 0 12px;
      color: #9c9fa1;
      font-size: 15px;
    }

    span {
      padding-left: 4px;
      font-size: 13px;
      color: #9c9fa1;
    }
  }
}
